# Created by https://www.toptal.com/developers/gitignore/api/django

### Mac OS ###
.DS_Store

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

venv

kataru/.env

kataru_api/fixtures/
kataru_api/test_get_post_data.py
kataru_api/temp.py