# Created by https://www.toptal.com/developers/gitignore/api/django

### Mac OS ###
.DS_Store

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

venv

kataru/.env

kataru_api/fixtures/genre_0001.yaml
kataru_api/fixtures/prompt_0001.yaml
